name: Build & Push Frontend Image

on:
  push:
    branches: [main]
  workflow_dispatch:
    # optional: only run when FE changes
    # paths:
    #   - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: deploy/Dockerfile
          push: true
          tags: |
            ghcr.io/clumsyhat1994/hosp-frontend:latest
            ghcr.io/clumsyhat1994/hosp-frontend:${{ github.sha }}
